<div class="list row">
    <div class="col-md-12">
      <h4>All Entries</h4>
  
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Project</th>
            <th scope="col">Hours</th>
            <th scope="col">Remarks</th>
            <th scope="col" style="min-width: 150px;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entry of entries;">
            <th scope="row">{{entry.id}}</th>
            <td>{{entry.date}}</td>
            <td>{{entry.name}}</td>
            <td>{{entry.hours}}</td>
            <td>{{entry.remarks}}</td>
            <td>
              <button type="button" class="btn btn-danger" routerLink="/entry/{{entry.id}}">Edit</button>
              <button type="button" class="btn btn-warning" (click)="deleteEntry(entry.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
  
    </div>
  </div>